*{
   
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}

:root{
    --title-color:  #352c47;
    --prima-color: #34cb79;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothimg: antialiased;

}

h1,h2,h3,h4{
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);

}







