<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar um ponto de coleta</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/casdastrar-pontos.css">
    <link rel="stylesheet" href="./style/responsive.css">
    
</head>
<body>


   <div id="page-cadastrar-ponto">


            <header>

                <img src="./img/icones/logo.svg" alt="">
            
            
                <a href="/">
                    <span> </span>
                    Voltar para Home
                </a>
            
            </header>

            <form action="">

                <h1>Cadastro do ponto de coleta</h1>

                <fieldset>
                    <legend>
                        <h2>Dados de entidade</h2>
                    </legend>

                    <div class="field-group">

                        <div class="field">
                            <label for="entidade"> Nome da entidade  </label>
                            <input type="text" name="entidade" required>
                        </div>

                        <div class="field">
                                <label for="name"> Image da entidade</label>
                                <input type="url" name="image" placeholder="http://" required>
                        </div>

                    </div>

                    <div class="field-group">

                        <div class="field">
                            <label for="endereço"> Endereço</label>
                            <input type="text" name="endereço" required>
                        </div>

                        <div class="field">
                        <label for="numero">  Numero/Complemento </label>
                        <input type="text" name="numero" required
                        ></div>

                    </div>

                    <div class="field-group">

                         <div class="field">
                            <label for="state">  Estado </label>
                            <select name="uf"  >
                                <option value="">
                                    Selecione o estado
                                </option>
                            </select>

                            <input type="hidden" name="state">
                          </div>

                          <div class="field">
                            <label for="city">  Cidade </label>
                            <select name="city" disabled required>
                                <option value="">
                                    Selecione a cidade
                                </option>
                            </select>
                          
                          </div>

                    </div>

                </fieldset>

                <fieldset>
                    <legend>
                        <h2>Itens de coleta</h2>
                        <span>Selecione um ou mais itens abaixo</span>
                    </legend>

                    <div class="itens-grid">
                        <li data-id="1" >
                            <img src="./img/icones/lampadas.svg" alt="Lâmpadas">
                            <span> Lâmpadas </span>
                        </li>

                        <li data-id="2">
                            <img src="./img/icones/baterias.svg" alt="Pilhas e Baterias">
                            <span> Pilhas e Baterias </span>
                        </li>

                        <li data-id="3">
                            <img src="./img/icones/papeis-papelao.svg" alt="Papéis e Papelão">
                            <span> Papeis e Papelão </span>
                        </li>

                        <li data-id="4">
                            <img src="./img/icones/eletronicos.svg" alt="Resíduos Eletrônicos">
                            <span> Resíduos Eletrônicos </span>
                        </li>

                        <li data-id="5">
                            <img src="./img/icones/organicos.svg" alt="Resíduos  Orgânicos">
                            <span> Resíduos Orgânicos </span>
                        </li>

                        <li data-id="6">
                            <img src="./img/icones/oleo.svg" alt="Óleo de cozinha">
                            <span> Óleo de cozinha </span>
                        </li>

                    </div>

                        <input type="hidden" name="itens">
                </fieldset>

                <button type="submit"> Cadastrar ponto de coleta</button>
            </form>
            
    </div>

    <script src="./scripts/cadastrar-posto.js"></script>
</body>
</html>